*.*~

.coverage
.env
.ipynb_checkpoints
.tox
.vscode/extensions/esbonio
.vscode-test

*.pyc
*.egg-info
*.log
*.mo

__pycache__
_build
build
node_modules
dist

.changes.html

# Demo tutorial is populated during the build.
lib/esbonio-extensions/esbonio/tutorial_demo
