.bumpversion.cfg
.gitignore
.tox
.pytest_cache
**/__pycache__/**
**/.pyc
**/requirements-*.in
**/requirements-*.txt
changes
CHANGES.rst
dist/**/*.map
dist/test
esbuild.mjs
hatch.toml
Makefile
node_modules
pyproject.toml
src/**
syntaxes/tests
tsconfig.json
webpack.config.js
