# This file is used to generate requirements-env.txt.
# Run the command below to manually upgrade packages in requirements-env.txt:
#
# $ make requirements-env.txt

# Of course, we need Sphinx itself
sphinx

# Since we advertise MyST support we probably should include it so that it works out of the box.
myst-parser

# There's an argument to be made to include some of the most popular themes/extensions here.
# However, the two packages above alone bloat the install size of the extension dramatically!
# And this is only a fallback so that the extension does *something* rather than crash.
# For full support of their project, users really should be configuring `esbonio.sphinx.pythonCommand`
