# This file is used to generate requirements.txt.
#
# Only run the commands below to manually upgrade packages in requirements.txt:
# NOTE: Use the minimum version of Python we support when running these commands (currently 3.8)
#
# 1) python -m pip install pip-tools
# 2) pip-compile --generate-hashes --upgrade ./requirements.in
#
# To install the environment specified in requirements.txt (again using the minimum supported python)
#
# 3) python -m pip install -t ./bundled/libs --no-cache-dir --implementation py --no-deps --upgrade -r ./requirements.txt
aiosqlite
docutils
platformdirs
pygls>=1.1.0
tomli
websockets
