# This file is used to generate requirements-libs.txt.
# Run the command below to upgrade packages in requirements-libs.txt:
#
# $ uv pip compile --generate-hashes --upgrade --python-version 3.10 --output-file requirements-libs.txt requirements-libs.in
#
# Alternatively, using the Makefile
#
# $ make requirements-libs.txt
#
# To install the environment specified in requirements-libs.txt (using the minimum supported python)
#
# $ python -m pip install -t ./bundled/libs --no-cache-dir --implementation py --no-deps --upgrade -r ./requirements-libs.txt
#
#
aiosqlite
docutils
platformdirs
pygls>=2.0
tomli
websockets
