@media (min-width: 1200px) {
  body > .container-xl {
    margin-left: 0;
  }

  #site-navigation {
    position: sticky;
  }

  .topbar {
    max-width: unset;
  }

  #navbar-toggler {
    display: none
  }
}

@media (min-width: 1400px) {
  #main-content > div {
    max-width: unset;
    flex: 1;
  }
}
