# This assumes you are running the pip install command from the root of the repo e.g.
# $ pip install -r docs/requirements.txt
sphinx
furo
pytest_lsp
-e lib/esbonio
-e lib/esbonio-extensions[tutorial]
