# This assumes you are running the pip install command from the root of the repo e.g.
# $ pip install -r docs/requirements.txt
sphinx
sphinx-design
furo
myst-parser
pytest_lsp>=1.0b0
pygls>=2.0a0
platformdirs
aiosqlite
