name: Automation

on:
  issues:
    types:
    - assigned
    - labeled
    - unassigned
    - unlabeled

jobs:
  issues:
    runs-on: ubuntu-latest
    name: Issue Automation
    steps:
    - uses: 'actions/checkout@v4'

    - name: Run Script
      env:
        EVENT: ${{ toJSON(github.event) }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        echo "Event Name: ${{ github.event_name }}"
        # echo "${EVENT}"

        ./scripts/project-management.sh
