name: Language Server PR
on:
  push:
    branches:
    - beta
    paths:
    - 'lib/esbonio/**'

  pull_request:
    branches:
    - beta
    paths:
    - 'lib/esbonio/**'

jobs:
  lsp:
    name: "Python v${{ matrix.python-version }} -- ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: pip cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-lsp-pr-pip-deps-${{ matrix.python-version }}

    - run: |
        python --version
        python -m pip install --upgrade pip
        python -m pip install --upgrade tox bump2version
      name: Setup Environment

    - run: |
        set -e

        # Despite the script's name, this is only used to obtain a
        # dev version number e.g. v1.2.3-dev4
        ./scripts/make-release.sh lsp
      name: Set Version
      if: matrix.python-version == '3.10' && matrix.os == 'ubuntu-latest'

    - run: |
        cd lib/esbonio

        version=$(echo ${{ matrix.python-version }} | tr -d .)
        python -m tox run-parallel --parallel-no-spinner -e `tox -l | grep $version | tr '\n' ','`
      shell: bash
      name: Run Tests

    - name: Package
      run: |
        cd lib/esbonio
        python -m tox -e pkg
      if: always() && matrix.python-version == '3.10' && matrix.os == 'ubuntu-latest'

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v3
      with:
        name: 'dist'
        path: lib/esbonio/dist
      if: always() && matrix.python-version == '3.10' && matrix.os == 'ubuntu-latest'
